<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <title>Opções</title>
</head>
<body>
    <a href="{{ url_for('home') }}" class="voltar">
<i class="bi bi-chevron-left" id="seta"></i></a>
   <div class="container1">
    <a href="{{ url_for('preferencial') }}"> <!-- link de volta para a home -->
        <img class="img1" src="{{ url_for('static', filename='img/4.png') }}" alt="Imagem">
        <p>Preferêncial</p>
    </a>

     <a href="{{ url_for('rapido') }}"> <!-- link de volta para a home -->
        <img class="img1" src="{{ url_for('static', filename='img/5.png') }}" alt="Imagem">
        <p>Caixa Rápido</p>
    </a>

     <a href="{{ url_for('normal') }}"> <!-- link de volta para a home -->
        <img class="img1" src="{{ url_for('static', filename='img/6.png') }}" alt="Imagem">
        <p>Caixa Normal</p>
    </a>

     <a href="{{ url_for('autoatendimento') }}"> <!-- link de volta para a home -->
        <img class="img1" src="{{ url_for('static', filename='img/7.png') }}" alt="Imagem">
        <p>Autoatendimento</p>
    </a>
</div>

</body>
</html>